[Unit]
Description=Daily Knight Basins PostgreSQL backup

[Timer]
OnCalendar=*-*-* 03:15:00 UTC
Persistent=true
Unit=knight-basins-backup.service

[Install]
WantedBy=timers.target