[Unit]
Description=Knight Basins API
After=network.target postgresql.service

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/opt/knight-basins
EnvironmentFile=/etc/knight-basins/api.env
Environment=NODE_ENV=production
Environment=PORT=8080
ExecStart=/usr/bin/node --enable-source-maps artifacts/api-server/dist/index.mjs
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target